
body{
    height:50px;
    width:1000px;
    background-color: rgba(3, 7, 16, 0.532);
   
}

.bg{
  height: 600px;
  width:850px;
  background-color: black;
  
}
.bg:hover{
    background-image: url(nguyen-khanh-ly-liiusuaISP0-unsplash.jpg);

}
.time{
    color: brown;
    font-weight:1000;
    font-size:30px;
    background-color: bisque;
}
.time:hover{
    background-color: rgb(171, 113, 27);
}
.profilebtn {
    height: 60px;
    width: 150px;
    margin-left: 50px;
    margin-top:20px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-style:normal;
    padding-left:10px;
    padding-right:10px;
    padding-top:5px;
    padding-bottom:5px;
    border-radius: 15px;
    background-color: bisque;


}
.profilebtn:hover{
    background-color:red;
    border-radius: 25px;
    font-weight:1000 ;
    
}

.biobtn{
    height: 60px;
    width: 150px;
    margin-left: 50px;
   
    margin-top:0px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-style:normal;
    padding-left:10px;
    padding-right:10px;
    padding-top:5px;
    padding-bottom:5px;
    border-radius: 15px;
    background-color: bisque;
}

.biobtn:hover{
    background-color:red;
    border-radius: 25px;
    font-weight:1000 ;
    
}
.vidbtn{
    height: 60px;
    width: 150px;
    margin-left: 50px;
    margin-top:0px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-style:normal;
    padding-left:10px;
    padding-right:10px;
    padding-top:5px;
    padding-bottom:5px;
    border-radius: 15px;
    background-color: bisque;
}
.vidbtn:hover{
    background-color:red;
    border-radius: 25px;
    font-weight:1000 ;
    
}

.musicbtn{
    height: 60px;
    width: 150px;
    margin-left: 50px;
    margin-top:0px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-style:normal;
    padding-left:10px;
    padding-right:10px;
    padding-top:5px;
    padding-bottom:5px;
    border-radius: 15px;
    background-color: bisque;

}
.musicbtn:hover{
    background-color:red;
    border-radius: 25px;
    font-weight:1000 ;
    
}

.pcontainer{
    height: 125px;
    width:850px;
    padding-top:10px;
    padding-bottom: 10px;
    background-image:url(bgbg.jpeg);
    opacity:3px;

}

.intro{
    font-size: 45px;
    font-weight: 1000;
    color:rgb(160, 116, 58)
}
.intro2{
    margin-top: 0%;
    font-size:25px;
}
.namep{
    margin-left: 500px;
    margin-top: 0%;









}
.profile{
    height:400px;
    width:400px;
    margin-top: 50px;
    border-radius: 40px;
    padding-left: 10px;
    padding-bottom: 5px;
    margin-left:5px;
    margin-bottom: 15px;
}
.profile:hover{
    background-image:url(IMG_1695644464252.jpg);
}
.row{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height:600px;
    width:850px;
    background-color: rgb(221, 190, 190);
}
.one{
    height:430px;
    width:380px;
    margin-top: 50px;
    border-radius: 40px;
    background-color: aqua;
}
.two{
    height:400px;
    width:400px;
    margin-top: 50px;
    border-radius: 40px;
    margin-left:25px;
    
    
}
.nameProfile{
   
    font-size:50px;
    font-weight: bolder;
    font-style: normal ;
    color: rgb(1, 17, 30);
}
.nameprofile1{
    font-size:25px;
    font-weight: bolder;
    font-style: normal ;

}







.Biodata{
    height:640px;
    width: 850px;
    background-color: brown;
}
.biorow{
    
    height:700px;
    width:850px;
    background-color: rgb(140, 162, 26);
    padding-top: 20PX;


}
.bioText{
    font-size: 50px;
    font-weight: bolder;
    color: blue;
    text-align: center;
    padding-left: 60%;
}
.pbio{
    padding-left: 60px;
    font-weight: 200;
    font-size:20px;
}





.videorow{
    
    height:750px;
    width:850px;
    background-color: rgb(64, 69, 39);
    padding-top: 2PX;
}
.video{
    width: 800px;
    height:600px;
    padding-top: 5px;
    padding-left: 20px;
}
.justmy{
    padding-left:20px;
    font-size: 50px;
    font-weight: bolder;
    margin-top: 2px;
    border-style: dashed;
    border-color: aquamarine;
    background-color: antiquewhite;
}







.audiorow{
    
    height:750px;
    width:850px;
    background-color: rgb(208, 220, 102));
    padding-top: 2PX;
}

.audioImg{
    width: 500px;
    height:600px;
    padding-top: 5px;
    padding-left: 160px;
    align-content: center;
}
.audio{
    padding-left: 160px;
    width:500px;
}
.wild{
    padding-left:160px;
    font-size: 50px;
    font-weight: bolder;
    margin-top: 2px;
    border-style: dashed;
    border-color: aquamarine;
    background-color: antiquewhite;
}





.profiletop{
    margin-top:100px;
    margin-left:350px ;
    height:50px;
    width:70px;
    font-weight:500;
    font-size:15px;
   background-color: brown;
   border-radius: 10px;
}
.profiletop:hover{
    background-color:red;
    border-radius: 25px;
    font-weight:1000 ;
    
}
.pos{
    position:absolute;
    padding-top: 0;
}